<div class="container">
  <h2>Przeliczanie walut</h2>
  <form (ngSubmit)="convertCurrency()">
    <div class="currency-selection">
      <div>
        <label for="amount">Kwota:</label>
        <input type="number" id="amount" [(ngModel)]="amount" name="amount" aria-label="Wprowadź kwotę">
      </div>
    </div>

    <div class="currency-selection">
      <div>
        <label for="fromCurrency">Z waluty:</label>
        <select id="fromCurrency" [(ngModel)]="fromCurrency" name="fromCurrency" aria-label="Wybierz walutę, z której chcesz przeliczyć">
          <option *ngFor="let rate of exchangeRates" [value]="rate.code">{{ rate.code }}</option>
        </select>
      </div>
      <div>
        <label for="toCurrency">Na walutę:</label>
        <select id="toCurrency" [(ngModel)]="toCurrency" name="toCurrency" aria-label="Wybierz walutę docelową">
          <option *ngFor="let rate of exchangeRates" [value]="rate.code">{{ rate.code }}</option>
        </select>
      </div>
    </div>
    <button type="submit" aria-label="Przelicz walutę docelową">Przelicz</button>
  </form>
  <div *ngIf="result" class="converted-amount">
    <p>Przeliczona kwota: {{ result | number: '1.2-2' }}</p>
  </div>
</div>
